<!DOCTYPE html>
<html>
    <head>
        <title>Blueedtech</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/estilo.css">
    </head>
    <body>
        <div class="titulo">
            <a href="http://blueedtech.com.br">
                <img src="{{imagem}}" width="100" alt="Logo da Blue" />
            </a><h1>Blueedtech</h1>
        </div>
        <br /><br />
        <p>Olá {{nome}}, você tem {{idade}} anos e vem de {{cidade}}</p>
        {% if maiordeidade %} 
        <p>VOCÊ É MAIOR DE IDADE!</p>
        {% else %}  
        <P>VOCÊ É MENOR DE IDADE!</P>
        {% endif %}
        <!-- usa-se duas chaves para recuperar o paramêtro passado pelo app.py-->
        <!-- USA-SE CHAVE E PERCENTURAL PARA IF/ELIF/ELSE-->
    </body>
</html>
